/* Default CSS Stylesheet for a new Web Application project */

input.bTB
{
	cursor: hand;
	background-image:url(3dBanner.bmp);
	color: navy;
	width: 25;
	height: 25;
	border: 0;
	font-family: Webdings;
	font-weight: normal;
	font-size: 13pt
}

input.bTBHover
{
	cursor: hand;
	background-color:rgb(248, 232, 167);
	color: blue;
	width: 25;
	height: 25;
	font-family: Webdings;
	font-weight: normal;
	font-size: 13pt
}

input.bTB2
{
	cursor: hand;
	background-image:url(3dBanner.bmp);
	color: black;
	width: 25;
	height: 25;
	border: 0;
	font-family: Wingdings 2;
	font-weight: normal;
	font-size: 13pt
}

input.bTB2Hover
{
	cursor: hand;
	background-color:rgb(248, 232, 167);
	color: black;
	width: 25;
	height: 25;
	font-family: Wingdings 2;
	font-weight: normal;
	font-size: 13pt
}

input.bTBFind
{
	cursor: hand;
	color: navy;
	width: 60;
	height: 20;
	font-family: Arial;
	font-weight: normal;
	font-size: 8pt
}

input.txtDataInput
{
	width: 75;
	height: 18;
	border: 1;
	border-color: black;
	font-weight: normal;
	font-size: 8pt
}
td.tdBan1{text-align:center; color:rgb(250,80,80); background:url(3dBanner.bmp)}
td.tdH1{text-align:left; background-color:rgb(130,130,130); font-family:Aerial; font-weight:bold; font-size:12pt; color:white}
td.tdH2{font-family:Arial; font-weight:normal; font-size:8pt; color:black; height:28; background:url(3dBanner.bmp)}
td.tdH3{text-align:right; background-color:lime}
td.tdH4{font-family:Arial; font-weight:normal; font-size:8pt; color:navy; text-align:left; vertical-align:middle}
td.tdH5{font-family:Arial; font-weight:bold; font-size:8pt; color:black; text-align:left}
td.tdH15{font-family:Arial; font-weight:bold; font-size:8pt; color:black; text-align:right}
td.tdH6{font-family:Arial; font-weight:normal; font-size:8pt; color:black; text-align:left}
td.tdH7{font-family:Arial; font-weight:bold; font-size:8pt; color:black; text-align:center}
td.tdH8{font-family:Arial; font-weight:bold; font-size:12pt; color:black}

td.tdHDetail1{font-family:Arial; font-weight:normal; font-size:8pt; background-color:rgb(49,106,197); color:White}
	
td.tdListH{font-family:Arial; font-weight:bold; font-size:8pt}
td.tdList{font-family:Arial; font-weight:normal; font-size:8pt}
table.tableList{width:100%; background-color:rgb(242,249,280); color:black}
table.tableListSelected{width:100%; background-color:rgb(49,106,197); color:white}
table.tableBusy{color:navy; font-family:Arial; font-weight:normal; font-size:8pt}

input.txtInp{font-family:Arial; font-weight:normal; font-size:8pt; color:black; text-align:left}
input.bNav{cursor:hand; background:color(white); color:rgb(228,170,63); width:14; border:0; font-family:Webdings; font-weight:bold; font-size:13pt}
input.bNav2{cursor:hand; background:color(white); color:blue; width:14; border:0; font-family:Webdings; font-weight:bold; font-size:13pt}

BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
H1	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.58em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	


A:link	{	
	text-decoration:	none;
	color:	#3333cc;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	#3333cc;
	}
	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}	

IMG 	{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	}
