TD.tdFlag
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13pt;
    COLOR: red;
    FONT-FAMILY: Wingdings;
    HEIGHT: 25px
}
TD.tdFlagUnread
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13pt;
    COLOR: lightgrey;
    FONT-FAMILY: Wingdings;
    HEIGHT: 25px
}
INPUT.bShowOld
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px;
    WIDTH: 15px;
    CURSOR: hand;
    COLOR: black;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Arial;
    HEIGHT: 15px;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
INPUT.bUALink
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 0px;
    CURSOR: hand;
    COLOR: blue;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}
INPUT.submit
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    FONT-FAMILY: Verdana, Arial
}
INPUT.bTB
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 13pt;
    BACKGROUND-IMAGE: url(.//Images/3dBanner.bmp);
    BORDER-LEFT: 0px;
    WIDTH: 25px;
    CURSOR: hand;
    COLOR: navy;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Webdings;
    HEIGHT: 25px
}
INPUT.bTBs
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BACKGROUND-IMAGE: url(.//Images/3dBanner.bmp);
    BORDER-LEFT: 0px;
    WIDTH: 20px;
    CURSOR: hand;
    COLOR: navy;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Webdings;
    HEIGHT: 20px
}
INPUT.bTBHover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13pt;
    WIDTH: 25px;
    CURSOR: hand;
    COLOR: blue;
    FONT-FAMILY: Webdings;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #f8e8a7
}
INPUT.bTBHovers
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 20px;
    CURSOR: hand;
    COLOR: blue;
    FONT-FAMILY: Webdings;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #f8e8a7
}
INPUT.bTB2
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 13pt;
    BACKGROUND-IMAGE: url(.//Images/3dBanner.bmp);
    BORDER-LEFT: 0px;
    WIDTH: 25px;
    CURSOR: hand;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Wingdings 2;
    HEIGHT: 25px
}
INPUT.bTB2s
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BACKGROUND-IMAGE: url(.//Images/3dBanner.bmp);
    BORDER-LEFT: 0px;
    WIDTH: 20px;
    CURSOR: hand;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Wingdings 2;
    HEIGHT: 20px
}
TD.tdUABullet
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: text-top;
    BORDER-LEFT: 0px;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Wingdings
}
TD.tdUAAnchor
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 0px;
    CURSOR: hand;
    COLOR: blue;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TD.tdUAPoint
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial
}
TD.tdUABulletPoint
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial
}
P.pNoRec
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
P.pTT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
P.pUA1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
P.pUANB
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #990000;
    FONT-FAMILY: Arial
}
TD.tdUAH1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left;
    padding: 5px 10px 0;
}
TD.tdUAH2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
P.pUA2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #222299;
    FONT-FAMILY: Arial
}
TD.tdUANumber
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
INPUT.bTB2Hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13pt;
    WIDTH: 25px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Wingdings 2;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #f8e8a7
}
INPUT.bTB2Hovers
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 20px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Wingdings 2;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #f8e8a7
}
INPUT.bTBFind
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 60px;
    CURSOR: hand;
    COLOR: navy;
    FONT-FAMILY: Arial;
    HEIGHT: 20px
}
INPUT.txtDataInput
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px;
    WIDTH: 80px;
    BORDER-BOTTOM: black 1px;
    HEIGHT: 18px
}
INPUT.txtDataInput1
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px;
    WIDTH: 150px;
    BORDER-BOTTOM: black 1px;
    HEIGHT: 18px
}
SELECT.selDataInput
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px;
    WIDTH: 150px;
    BORDER-BOTTOM: black 1px;
    HEIGHT: 18px
}
SELECT.selDataInputBig
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px;
    WIDTH: 200px;
    BORDER-BOTTOM: black 1px;
    HEIGHT: 18px
}
SELECT.selDataInputBig1
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px;
    WIDTH: 250px;
    BORDER-BOTTOM: black 1px;
    HEIGHT: 18px
}
TD.tdBan1
{
    BACKGROUND: url(.//Images/3dBanner.bmp);
    COLOR: #fa5050;
    TEXT-ALIGN: center
}
TD.tdH1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: white;
    FONT-FAMILY: Aerial;
    BACKGROUND-COLOR: #828282;
    TEXT-ALIGN: left
}
TD.tdH2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BACKGROUND: url(.//Images/3dBanner.bmp);
    COLOR: black;
    FONT-FAMILY: Arial;
    HEIGHT: 28px
}
TD.tdH3
{
    BACKGROUND-COLOR: lime;
    TEXT-ALIGN: right
}
TD.tdH4
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #002e63;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
TD.tdH5
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
TD.tdH15
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
TD.tdH6
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
TD.tdH7
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD.tdH8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TD.tdInfo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #002e63;
    FONT-FAMILY: Arial
}
TD.tdInfoHdr
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    VERTICAL-ALIGN: top;
    COLOR: #002e63;
    FONT-FAMILY: Webdings;
}
TD.tdHDetail1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #002e63
}
TD.tdListH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
TD.tdList
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
TABLE.tableList
{
    WIDTH: 100%;
    COLOR: black
}
TABLE.tableListSelected
{
    WIDTH: 100%;
    COLOR: black;
    BACKGROUND-COLOR: #99ccff
}
TABLE.tableBusy
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: Arial
}
INPUT.txtInp
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
INPUT.bNav
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    BORDER-LEFT: 0px;
    WIDTH: 14px;
    CURSOR: hand;
    COLOR: #e4aa3f;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Webdings
}
INPUT.bNav2
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    BORDER-LEFT: 0px;
    WIDTH: 14px;
    CURSOR: hand;
    COLOR: blue;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Webdings
}
BODY
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 0.8em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    BACKGROUND-COLOR: white
}
H1
{
    COLOR: #003366
}
H2
{
    COLOR: #003366
}
H3
{
    COLOR: #003366
}
H4
{
    COLOR: #003366
}
H5
{
    COLOR: #003366
}
TH
{
    COLOR: #003366
}
THEAD
{
    COLOR: #003366
}
TFOOT
{
    COLOR: #003366
}
H1
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 2em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H2
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1.75em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H3
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 1.58em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H4
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 1.33em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H5
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
DT
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
H6
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 0.8em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
TFOOT
{
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
THEAD
{
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
TH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    WORD-SPACING: normal;
    VERTICAL-ALIGN: baseline;
    TEXT-TRANSFORM: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal
}
A:link
{
    COLOR: #3333cc;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #333399;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #333399;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #3333cc;
    TEXT-DECORATION: underline
}
SMALL
{
    FONT-SIZE: 0.7em
}
BIG
{
    FONT-SIZE: 1.17em
}
BLOCKQUOTE
{
    FONT-FAMILY: Courier New, monospace
}
PRE
{
    FONT-FAMILY: Courier New, monospace
}
UL LI
{
    LIST-STYLE-TYPE: square
}
UL LI LI
{
    LIST-STYLE-TYPE: disc
}
UL LI LI LI
{
    LIST-STYLE-TYPE: circle
}
OL LI
{
    LIST-STYLE-TYPE: decimal
}
OL OL LI
{
    LIST-STYLE-TYPE: lower-alpha
}
OL OL OL LI
{
    LIST-STYLE-TYPE: lower-roman
}
IMG
{
    MARGIN-TOP: 5px;
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 10px
}
TABLE#brd80
{
    BORDER-RIGHT: gray 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: gray 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: gray 1px solid;
    WIDTH: 80%;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray 1px solid
}
TD#HtlBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#HtlrBorder
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#HtlrcBorder
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e6dfd6;
    TEXT-ALIGN: center
}
TD#tlBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#tlcBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e6dfd6;
    TEXT-ALIGN: center
}
TD#tlrBorder
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#tlrcBorder
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e6dfd6;
    TEXT-ALIGN: center
}
TD#lBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#tlbrBorder
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#lbBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#tlbBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#tlbcBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e6dfd6;
    TEXT-ALIGN: center
}
TD#HtlbBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#tlrbBorder
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TD#tlrbcBorder
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e6dfd6;
    TEXT-ALIGN: center
}
TD#topBorder
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 0px;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
INPUT.submit
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    FONT-FAMILY: Verdana, Arial
}
HR
{
    COLOR: #002e63;
    HEIGHT: 1pt
}
TEXTAREA.ta
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
DIV.tips
{
    CURSOR: hand
}